
<div>
  <%= form_with model:@genre, url:admins_genres_path, method: :post, local:true do |f| %>
    <div class="form-group row">
      <p class="col-md-3 pt-1 mb-0">ジャンル名</p>
      <p><%= f.text_field :name %></p>
      <p><%= f.submit '新規登録', class: "btn btn-success" %></p>
  <% end %>
</div>

<div>
 <% @genres.each do |genre| %>
  <%= genre.name %>
  <%= link_to "編集する",  edit_admins_genre_path(genre), class: "btn btn-success" %>
 <% end %>
</div>
  <%= paginate(@genres) %>