
<div class="container">
<div><%=flash[:alert] %></div>
<h1>会員情報編集</h1>

<div class="mx-auto">
<div class="text-center edit-box">
<%= form_with model:current_user,　url:user_path, local: true do |f| %>
  <div>会社名</div>
  <%= f.text_field :company_name %>

  <div>カナ</div>
  <%= f.text_field :company_name_kana %>

  <div>郵便番号</div>
  <%= f.text_field :postal_code %>

  <div>住所</div>
  <%= f.text_field :address %>

  <div>電話番号</div>
  <%= f.text_field :phone_number %>

<div>
  <%= f.submit "編集内容を保存" %>
</div>
<div>
  <%= link_to "退会する", quit_path %>
</div>
<% end %>

</div>
</div>
</div>

