<div class="container">
<h1>新規投稿</h1>
<div class="row">
<%= form_with model:@item, url:items_path, local:true, method: :post do |f| %>
    <div>
      <p>図面</p>
      <%= f.attachment_field :image %>
    </div>

    <div>
      <p>製品名</p>
      <%= f.text_field :name %>
    </div>

    <div>
      <p>価格</p>
      <%= f.text_field :price %>
    </div>

    <div>
      <p>ジャンル</p>
      <%= f.collection_select :genre_id, @genres, :id, :name %>
    </div>

    <div>
      <p>納期</p>
      <%= f.date_field :delivery_date %>
    </div>

  <%= f.submit '新規投稿', class: "btn btn-success" %>

 <% end %>
 </
 </div>