<div class="container">
<div class="raw">
 <div class="col-6 name-drawing">
  <div class="name">
     <%= link_to user_path(@user) do %>
     <%= @user.company_name %>
     <% end %>
  </div>
  <div class="n-drawing">
     <%= attachment_image_tag(@item, :image, size: "200x160", fallback: "no_image.jpg") %></div>
  </div>
 </div>
 
 <div class="col-6 detail">
  <div class="item-name"><%= @item.name %></div>
  <div class="item-genre"><%= @item.genre.name %></div>
  <div class="item-price"><%= @item.price %>円</div>
  <div class="item-delivery"><%= @item.delivery_date %></div>
  <div class="bookmark"><%= render 'bookmarks/bookmark',item:@item %></div>
 </div>


<div class="raw">
<h2>コメント</h2>
 <div class="comments">
  <%= @comments.each do |comment| %>
  <div><%= comment.user.company_name %></div>
  <div><%= comment.comment %></div>
  <div><%= link_to "削除", item_comment_path(@item, comment), method: :delete %></div>
  <% end %>
 </div>
 
 <div class="row">
 <div>
   <%= form_with(model:[@item, @comment], local: true) do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit "送信する" %>
   <% end %>
 </div> 
</div>

</div>